@import 'reset';

@font-face {
  font-family: "ProductSansBold";
  src: url("../font/ProductSansBold.ttf") format("truetype");
}
@font-face {
  font-family: "ProductSansRegular";
  src: url("../font/ProductSansRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Typingrad";
  src: url("../font/Typingrad.otf") format("opentype");
}

body,
button,
input,
select,
textarea {
  font-family: "ProductSansRegular";
}



.button {
  margin-top: 5%;
  text-decoration: none;
  background: #000000;
  color: #BDBDBD;
  padding: 20px;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background: #720103;
    color: white;
  }
}
