@import 'reset';

@font-face {
  font-family: "ProductSansBold";
  src: url("../font/ProductSansBold.ttf") format("truetype");
}
@font-face {
  font-family: "ProductSansRegular";
  src: url("../font/ProductSansRegular.ttf") format("truetype");
}

body,
button,
input,
select,
textarea {
  font-family: "ProductSansRegular";
}

.big-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.button {
  margin-top: 5%;
  text-decoration: none;
  background: linear-gradient(173.13deg, #720103 0%, #590004 83.33%);
  padding: 20px;
  display: inline-block;
  font-size: 1.6em;
  cursor: pointer;
  color: white;
  &:hover {
    background: white;
    color: #720103;
  }
}
